body{
    background-color:    #2fa192;
    font-family: "Monaco";
}

h3{
    text-align: center;
    margin-top: 0;
}

h6{
    text-align: center;
}

.people-online-box{
    font-family: "Monaco";
    background-color: #bbbeb5;
    min-height: 400px;
    max-height: 400px;
    max-width: 200px;
    overflow: auto;
    padding-top: 1em;

    border-radius: 5px 0px 0px 0px;
    border-style: solid;
    border-width: 1px;
    border-color: grey;
    border-left: none;
    border-top: none;
    border-bottom: none;

}

.message-box{
    font-family: "Monaco";
    background-color: #d2d4ce; 
    min-height: 400px;
    max-height: 400px; 
    overflow: auto;
    padding-top: 1em;


    border-radius: 0px 5px 0px 0px;
    border-left: none;
    border-top: none;
    border-bottom: none;
}

.status-box{
    font-family: "Monaco";
    background-color: #787e6c; 
    min-height: 4em; 
    max-height: 4em;
    max-width: 200px;
    border-radius: 0px 0px 0px 5px;
    margin-right: 0;

    border-style: solid;
    border-width: 1px;
    border-color: grey;
    border-left: none;
    border-bottom: none;
}

.message-stats{
    color: white; 
    font-size: 0.8em; 
    margin-top: 3px;
}

.users-stats{
    color: white; 
    font-size: 0.8em; 
    margin-top: -7px; 
    margin-bottom: 2px
}

.status-label{
    color: #6EEB83; 
    font-size: 0.8em; 
    margin-top: 0px; 
    margin-bottom: 2px
}

textarea.form-control{
    overflow: hidden;
    resize: none !important;
    border-radius: 0px 0px 0px 0px;
    overflow: auto;
    margin-left:-15px !important;
    width: calc(100% + 30px) !important;

    min-height: 4em; 
    max-height: 4em;

    border-style: solid;
    border-width: 1px;
    border-color: grey;
    border-left: none;
    border-right: none;
    border-bottom: none;
}

.form-control:focus, .input-group-btn{
    border-color: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border-style: solid;
    border-width: 1px;
    border-color: grey;
    border-left: none;
    border-right: none;
    border-bottom: none;    
    outline:none !important;
}

.big-glyph {
    font-size: 1.5em;
    align-self: center;
}

.send-btn{
    min-height: 4em; 
    max-height: 4em;
    width: calc(100% + 30px);
    border-radius: 0px 0px 5px 0px;

    border-style: solid;
    border-width: 1px;
    border-color: grey;
    border-left: none;
    border-right: none;
    border-bottom: none;

    margin-left: -15px;
    outline:none !important;

    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none;

    text-align: center;
}

.btn {
    outline:none !important;
    text-transform: uppercase;
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none;


}
.btn-custom {
    outline: none;
    border-style: solid;
    border-width: 1px;
    border-color: grey;
    border-left: none;
    border-right: none;
    border-bottom: none;
}
.btn-custom:hover,
.btn-custom:active,
.btn-custom.active {
    background-color: #0077b3;
    outline:none !important; 
    border-color: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.btn-custom.disabled:hover,
.btn-custom.disabled:focus,
.btn-custom.disabled:active,
.btn-custom.disabled.active,
.btn-custom[disabled]:hover,
.btn-custom[disabled]:focus,
.btn-custom[disabled]:active,
.btn-custom[disabled].active,
fieldset[disabled] .btn-custom:hover,
fieldset[disabled] .btn-custom:focus,
fieldset[disabled] .btn-custom:active,
fieldset[disabled] .btn-custom.active {
    outline:none !important;
    border-color: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
